<div class="chat-wrapper">
    
    <div class="chat-content">
        <div class="chat-content-header">
            <h6 id="channelTitle" class="mg-b-0">Project 1</h6>
        </div><!-- chat-content-header -->

        <div class="chat-content-body ps ps--active-y">
            <div class="chat-group">

                <div class="chat-group-divider">February 20, 2019</div>
                <div class="media">
                    <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">k</span>
                    </div>
                    <div class="media-body">
                        <h6>katherine <small>Today at 1:30am</small></h6>

                        <p>Hello everyone, this is my first message to this channel</p>
                        <p>anybody here?</p>
                    </div><!-- media-body -->
                </div><!-- media -->
                <div class="chat-group-divider">February 21, 2019</div>
                <div class="media">
                    <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">k</span>
                    </div>
                    <div class="media-body">
                        <h6>katherine <small>Yesterday at 4:10am</small></h6>

                        <p>I'm back once again!!</p>
                        <p>It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout.</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable.</p>
                    </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                    <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">M</span>
                    </div>
                    <div class="media-body">
                        <h6>Michel <small>Yesterday at 4:15am</small></h6>

                        <p>Excepteur sint occaecat cupidatat non proident</p>
                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse...</p>
                    </div><!-- media-body -->
                </div><!-- media -->
                <div class="chat-group-divider">February 22, 2019</div>

                <div class="media">
                    <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">k</span>
                    </div>
                    <div class="media-body">
                        <h6>katherine <small>Today at 10:05am</small></h6>

                        <p>I'm back once again!!</p>
                        <p>Et harum quidem rerum facilis est et expedita distinctio.</p>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                            minus id quod maxime placeat facere possimus.</p>
                    </div><!-- media-body -->
                </div><!-- media -->
            </div>
            <div class="ps__rail-x" style="left: 0px; top: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; height: 394px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 246px;"></div>
            </div>
        </div><!-- chat-content-body -->

        <div class="chat-sidebar-right ps">
            <div class="pd-y-20 pd-x-10">
                <div class="tx-10 tx-uppercase tx-medium tx-color-03 tx-sans tx-spacing-1 pd-l-10">Members
                    List</div>
                <div class="chat-member-list">
                    <a href="#" class="media">
                        <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">b</span>
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">dfbot</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                    <a href="#" class="media">
                        <div class="avatar avatar-sm avatar-online"><img src="../https://via.placeholder.com/350"
                                class="rounded-circle" alt="">
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">situmay</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                    <a href="#" class="media">
                        <div class="avatar avatar-sm avatar-offline"><img src="../https://via.placeholder.com/600"
                                class="rounded-circle" alt="">
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">acantones</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                    <a href="#" class="media">
                        <div class="avatar avatar-sm avatar-offline"><img src="../https://via.placeholder.com/500"
                                class="rounded-circle" alt="">
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">rlabares</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                    <a href="#" class="media">
                        <div class="avatar avatar-sm avatar-online"><img src="../https://via.placeholder.com/500"
                                class="rounded-circle" alt="">
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">h.owen</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                    <a href="#" class="media">
                        <div class="avatar avatar-xs avatar-online"><span class="avatar-initial rounded-circle">k</span>
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">k.billie</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                    <a href="#" class="media">
                        <div class="avatar avatar-sm avatar-online"><img src="../https://via.placeholder.com/500"
                                class="rounded-circle" alt="">
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">m.audrey</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                    <a href="#" class="media">
                        <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">m</span>
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">macasindil</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                    <a href="#" class="media">
                        <div class="avatar avatar-sm avatar-online"><img src="../https://via.placeholder.com/350"
                                class="rounded-circle" alt="">
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">e.ocaba</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                    <a href="#" class="media">
                        <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">k</span>
                        </div>
                        <div class="media-body mg-l-10">
                            <h6 class="mg-b-0">avendula</h6>
                        </div><!-- media-body -->
                    </a><!-- media -->
                </div><!-- chat-msg-list -->
            </div>
            <div class="ps__rail-x" style="left: 0px; top: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div><!-- chat-sidebar-right -->

        <div class="chat-content-footer">
            <a href="" data-toggle="tooltip" title="" class="chat-plus" data-original-title="Add File"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-plus">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg></a>
            <input type="text" class="form-control align-self-center bd-0" placeholder="Message">
            <nav>
                <a href="" data-toggle="tooltip" title="" data-original-title="Add GIF"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-image">
                        <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                        <circle cx="8.5" cy="8.5" r="1.5"></circle>
                        <polyline points="21 15 16 10 5 21"></polyline>
                    </svg></a>

                <a href="" data-toggle="tooltip" title="" data-original-title="Add Smiley"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-smile">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                        <line x1="9" y1="9" x2="9.01" y2="9"></line>
                        <line x1="15" y1="9" x2="15.01" y2="9"></line>
                    </svg></a>

                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-mic">
                    <path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path>
                    <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
                    <line x1="12" y1="19" x2="12" y2="23"></line>
                    <line x1="8" y1="23" x2="16" y2="23"></line>
                </svg></a>
            </nav>
        </div><!-- chat-content-footer -->
    </div><!-- chat-content -->

</div>