<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SalesFort website">
    <meta name="author" content="SalesFort">

    <!-- Twitter -->
    <meta name="twitter:site" content="salesfort">
    <meta name="twitter:creator" content="salesfort">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="SalesFort">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Facebook -->
    <meta property="og:url" content="">
    <meta property="og:title" content="SalesFort">
    <meta property="og:description" content="">

    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon.png">

    <title><%= title %></title>

    <!-- vendor css -->
    <link href="../../lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../lib/jqvmap/jqvmap.min.css" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../../assets/css/dashforge.css">
    <link rel="stylesheet" href="../../assets/css/dashforge.dashboard.css">

    <link rel="stylesheet" href="../../assets/css/payment.css">
    <style>
      .aside-loggedin-user {
          margin-top: 0px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      /** Tags **/
      .bootstrap-tagsinput .tag {
          margin-right: 2px;
          color: white;
      }

      .bootstrap-tagsinput .tag {
          display: inline-flex;
          align-items: center;
          background-color: #e3e7ed;
          color: black;
          padding: 2px 7px;
          border-radius: 1px;
      }


      .breadcrumb-item {
        font-size: 14px !important;
      }

      @media (min-width: 992px) {
        .content-body {
            padding: 25px;
            height: 100%;
        }
      }

      @media (min-width: 768px) {
        .rightcol {
          padding-left: 25px !important;
        }
      }
    </style>

        
</head>