<option value="" <% if (value == "") { %> selected <% } %>></option>
<option value="0" <% if (value == "0") { %> selected <% } %> >12:00 AM</option>
<option value="1" <% if (value == "1") { %> selected <% } %> >01:00 AM</option>
<option value="2" <% if (value == "2") { %> selected <% } %> >02:00 AM</option>
<option value="3" <% if (value == "3") { %> selected <% } %> >03:00 AM</option>
<option value="4" <% if (value == "4") { %> selected <% } %> >04:00 AM</option>
<option value="5" <% if (value == "5") { %> selected <% } %> >05:00 AM</option>
<option value="6" <% if (value == "6") { %> selected <% } %> >06:00 AM</option>
<option value="7" <% if (value == "7") { %> selected <% } %> >07:00 AM</option>
<option value="8" <% if (value == "8") { %> selected <% } %> >08:00 AM</option>
<option value="9" <% if (value == "9") { %> selected <% } %> >09:00 AM</option>
<option value="10"  <% if (value == "10") { %> selected <% } %> >10:00 AM</option>
<option value="11"  <% if (value == "11") { %> selected <% } %> >11:00 AM</option>
<option value="12"  <% if (value == "12") { %> selected <% } %> >12:00 PM</option>
<option value="13"  <% if (value == "13") { %> selected <% } %> >01:00 PM</option>
<option value="14"  <% if (value == "14") { %> selected <% } %> >02:00 PM</option>
<option value="15"  <% if (value == "15") { %> selected <% } %> >03:00 PM</option>
<option value="16"  <% if (value == "16") { %> selected <% } %> >04:00 PM</option>
<option value="17"  <% if (value == "17") { %> selected <% } %> >05:00 PM</option>
<option value="18"  <% if (value == "18") { %> selected <% } %> >06:00 PM</option>
<option value="19"  <% if (value == "19") { %> selected <% } %> >07:00 PM</option>
<option value="20"  <% if (value == "20") { %> selected <% } %> >08:00 PM</option>
<option value="21"  <% if (value == "21") { %> selected <% } %> >09:00 PM</option>
<option value="22"  <% if (value == "22") { %> selected <% } %> >10:00 PM</option>
<option value="23"  <% if (value == "23") { %> selected <% } %> >11:00 PM</option>