<%- include('include/headcss') %>

<body>

  <%- include('include/header') %>

  <div class="content content-auth content-fixed pd-2">
    <div class="container ht-100p">
      <%- include('include/banner') %>

      <div class="row row-xs justify-content-center align-items-center mg-t-35">
        <div class="pricing card-deck flex-column flex-md-row mb-3">
          <div class="card card-pricing shadow text-center px-3 mb-4">
            <div class="bg-transparent card-header pt-4 border-0">
              <h5 class="font-weight-normal text-primary text-center mb-0">INSTANT SETUP</h5>
            </div>
            <div class="card-body pt-0 pd-x-0">
              <p class="tx-15">Get an agent started withing hours.</p>
              <p class="tx-15">Clear Pricing with instant online setup.</p>
            </div>

            <div class="card-footer pd-y-5">
              <a href="#" class="btn tx-primary h6 w-60 mx-auto px-4 py-1  tx-uppercase tx-10 tx-medium tx-sans tx-spacing-4">
                Explore
                </a>  
            </div>
          </div>

          <div class="card card-pricing shadow text-center px-3 mb-4">
            <div class="bg-transparent card-header pt-4 border-0">
              <h5 class="font-weight-normal text-primary text-center mb-0">FULL FLEXILIBILITY</h5>
            </div>
            <div class="card-body pt-0 pd-x-0">
              <p class="tx-15">Hire by the Day / Week or Month.</p>
              <p class="tx-15">Add and remove Agents as Needed.</p>
            </div>

            <div class="card-footer pd-y-5">
              <a href="#" class="btn tx-primary h6 w-60 mx-auto px-4 py-1  tx-uppercase tx-10 tx-medium tx-sans tx-spacing-4">
                Explore
                </a>  
            </div>
          </div>

          <div class="card card-pricing shadow text-center px-3 mb-4">
            <div class="bg-transparent card-header pt-4 border-0">
              <h5 class="font-weight-normal text-primary text-center mb-0">LOCAL AGENTS</h5>
            </div>
            <div class="card-body pt-0 pd-x-0">
              <p class="tx-15">Agents are always based in the Country of your company to ensure Clear, Top Quality Phone Calls.</p>
                <p class="tx-15">Select your own agent, review profiles, listen to sample calls.</p>
            </div>

            <div class="card-footer pd-y-5">
              <a href="#" class="btn tx-primary h6 w-60 mx-auto px-4 py-1  tx-uppercase tx-10 tx-medium tx-sans tx-spacing-4">
                Explore
                </a>  
            </div>
          </div>

          <div class="card card-pricing shadow text-center px-3 mb-4">
            <div class="bg-transparent card-header pt-4 border-0">
              <h5 class="font-weight-normal text-primary text-center mb-0">INTEGRATE OR USE YOUR PREFERRED CRM</h5>
            </div>
            <div class="card-body pt-0 pd-x-0">
              <p class="tx-15">View Progress in Real-Time</p>
              <p class="tx-15">Our Agents are trained to call leads from your CRM and update then accordingly.</p>
            </div>

            <div class="card-footer pd-y-5">
              <a href="#" class="btn tx-primary h6 w-60 mx-auto px-4 py-1  tx-uppercase tx-10 tx-medium tx-sans tx-spacing-4">
                Explore
                </a>  
            </div>
          </div>


        </div>
      </div>

    </div><!-- container -->
  </div><!-- content -->

  <%- include('include/footer') %>