<%- include('include/headcss') %>
<style>

.page-content {
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
  }

  .site-section {
    padding: 2.5em 0;
  }

  @media (min-width: 768px) {
    .site-section {
      padding: 4em 0;
    }
  }

  .site-section.site-section-sm {
    padding: 3em 0;
  }

  .site-section-heading {
    padding-bottom: 15px;
    margin-bottom: 0px;
    position: relative;
    font-size: 2.5rem;
  }

  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 3rem;
    }
  }


  .section-sub-title {
    font-size: 13px;
    color: #007bff;
    letter-spacing: .2em;
    text-transform: uppercase;
  }

  .section-title {
    color: #007bff;
    font-size: 40px;
    font-weight: 900;
  }

  @media (max-width: 991.98px) {
    .section-title {
      font-size: 30px;
    }
  }

  .text-black {
    color: #000 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h3, h3 {
    font-size: 1.75rem;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
</style>

<body>

  <%- include('include/header') %>


  <div class="content content-fixed pd-2 page-content">
    <div class="container">
      <%- include('include/banner') %>

      <div class="row row-xs justify-content-center pd-x-25">

        <div class="col-md-12">
          <div class="">
            <h4 class="page-title">Sales Fort is your Cloud Based Sales Support Team, We are here to help you conduct all of
              your sales needs without having to hire full time sales resources or commit to long term
              sales contracts.</h4>

            <p class="lead mg-y-25">
              Below are a few examples of how Sales Fort can help you:
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="site-section shadow cta-big-image">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="/assets/img/example.jpg" alt="Image" class="img-fluid">
            </figure>
          </div>

          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Outbound Telesales for a Given Product</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi in nostrum labore omnis quaerat.</p>
              
            </div>
            
          
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
              </ul>
              
            </div>
            
            
          </div>
        </div>
      </div>  
    </div>


    <div class="site-section cta-big-image">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Calling Inbound Leads from your landing page or website</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi in nostrum labore omnis quaerat.</p>
              
            </div>
            
          
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
              </ul>
              
            </div>
            
            
          </div>

          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="/assets/img/example.jpg" alt="Image" class="img-fluid">
            </figure>
          </div>

        </div>
      </div>  
    </div>


    <div class="site-section shadow cta-big-image">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="/assets/img/example.jpg" alt="Image" class="img-fluid">
            </figure>
          </div>

          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Calling your Existing Client Database to offer new products or services</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi in nostrum labore omnis quaerat.</p>
              
            </div>
            
          
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
              </ul>
              
            </div>
            
            
          </div>
        </div>
      </div>  
    </div>


    <div class="site-section cta-big-image">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Supporting your Sales Team during a marketing campaign</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi in nostrum labore omnis quaerat.</p>
              
            </div>
            
          
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
              </ul>
              
            </div>
            
            
          </div>

          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="/assets/img/example.jpg" alt="Image" class="img-fluid">
            </figure>
          </div>

        </div>
      </div>  
    </div>


    <div class="site-section shadow cta-big-image">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="/assets/img/example.jpg" alt="Image" class="img-fluid">
            </figure>
          </div>

          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Selling internationally in different countries</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi in nostrum labore omnis quaerat.</p>
              
            </div>
            
          
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
              </ul>
              
            </div>
            
            
          </div>
        </div>
      </div>  
    </div>



    <div class="site-section cta-big-image">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Call Newly Signed Up Users to your Website to welcome and encourage upgrading</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo tempora cumque eligendi in nostrum labore omnis quaerat.</p>
              
            </div>
            
          
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
              </ul>
              
            </div>
            
            
          </div>

          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="/assets/img/example.jpg" alt="Image" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>  
    </div>


   
  </div><!-- content -->

  <%- include('include/footer') %>