<header class="navbar navbar-header navbar-header-fixed sticky">
    <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
    
    <div class="navbar-brand">
        <a href="/" class="df-logo"><img src="../../assets/img/logo.png"></a>
    </div>
    
    <!-- navbar-brand -->
    <div id="navbarMenu" class="navbar-menu-wrapper">
        <!-- navbar-menu-header -->
        <ul class="nav navbar-menu">
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Pages</li>
            
            <li class="nav-item <% if (currentIdx == 1) { %> active <% } %>"><a href="/solutions" class="nav-link tx-bold">Solutions & Use Cases</a></li>
            <li class="nav-item <% if (currentIdx == 2) { %> active <% } %>"><a href="/saas" class="nav-link tx-bold">SaaS Integrations</a></li>
            <li class="nav-item <% if (currentIdx == 3) { %> active <% } %>"><a href="/pricing" class="nav-link tx-bold">Features & Pricing</a></li>
        </ul>
    </div>

    <div class="navbar-right pd-xs-r-15 pd-sm-r-0">
        <ul class="nav navbar-menu">
             <li class="nav-item">
                 <a href="/login" class="tx-md-16">
                    <span class="d-sm-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg>
                    </span>
                    
                    <span class="d-none d-sm-inline">Login/Register</span>
                </a>
            </li>
        </ul>
    </div>

</header><!-- navbar -->