
.bpa-cards-icon {
    background-size: 182px;
    position: absolute;
    display: block;
    width: 29px;
    height: 32px;
    margin-top: 2px;
    margin-left: 17px;
    background-position-x: -136px;
    background-position-y: 6px;
}

.bpa-cards-icon-img {
    background: url(../img/card-number-icons-v2.svg) no-repeat;
}

.bpa-cards-icon-mop-list {
    /*margin-top: -10px!important;*/
    margin-left: 0!important;
    position: static!important;
    height: 30px!important;
}

.bpa-cards-icon-mastercard, .bpa-cards-icon-mc {
    background-position-x: -34px;
    width: 34px;
}
.cards-icon-visa {
    background-position-x: 0;
    width: 34px;
}
