<%- include('../include/headcss') %>
<style>
    .card-pricing .list-unstyled li {
        padding: .5rem 0;
        color: #6c757d;
    }

</style>
<body>

    <%- include('../include/header') %>

    <div class="content content-fixed content-auth pd-2">
        <div class="container ht-100p">
            <%- include('../include/banner') %>


            <h3 class="page-title">
                Sales Fort is the first of its kind online marketplace that provides local Telesales Sales Support for
                companies.
            </h3>

            <p class="lead mg-t-50">
                Until now, companies have been forced to either commit to hiring Full Time Sales Support, or sign long
                term contracts for outsourced sales contractors.
                However, that’s all now in the past, utilizing the latest SaaS (Software as a Service) Technology and a
                distributed sales force, companies can now hire local, rated and short term sales agents online to
                fulfill their sales needs.
            </p>

            <p class="lead mg-t-25">
                Below are a few examples of how Sales Fort can help you:
            </p>

            <div class="row row-xs justify-content-center align-items-center mg-t-35">
                <div class="pricing card-deck flex-column flex-md-row mb-3">
                    <div class="card card-pricing shadow text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Step 1</span>
                        <div class="bg-transparent card-header pt-4 border-0">
                            <h4 class="font-weight-normal text-primary text-center mb-0">Search for a Sales Agent in your area that matches your requirements</h4>
                        </div>
                        <!--
                        <div class="card-body pt-0">
                            ....
                        </div>
                        -->
                    </div>

                    <div class="card card-pricing shadow text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Step 2</span>
                        <div class="bg-transparent card-header pt-4 border-0">
                            <h4 class="font-weight-normal text-primary text-center mb-0">Hire them for the desired Time Period by Days, Weeks, or Months</h4>
                        </div>
                        <!--
                        <div class="card-body pt-0">
                            ....
                        </div>
                        -->
                    </div>
                    
                    <div class="card card-pricing shadow text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Step 3</span>
                        <div class="bg-transparent card-header pt-4 border-0">
                            <h4 class="font-weight-normal text-primary text-center mb-0">Provide Details of your Project, Optionally Connect your CRM</h4>
                        </div>
                        <!--
                        <div class="card-body pt-0">
                            ....
                        </div>
                        -->
                    </div>
                    <div class="card card-pricing shadow text-center px-3 mb-4">
                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Step 4</span>
                        <div class="bg-transparent card-header pt-4 border-0">
                            <h4 class="font-weight-normal text-primary text-center mb-0">Bring your number or select a number from our database and start your project</h4>
                        </div>
                        <!--
                        <div class="card-body pt-0">
                            ....
                        </div>
                        -->
                    </div>
                </div>    
            </div>
        </div>

        <div class="container mg-t-20">
            
            <p class="lead mg-t-25">
                To get started with your first project, <a href="/client/register">click here to signup and start
                    browsing our sales talent.</a>
            </p>

            <p class="lead mg-t-25">
                For any assistance, from our sales team, you can contact us on <a
                    href="mailto: info@salesfort.com">info@salesfort.com</a>
            </p>

        </div><!-- container -->
    </div><!-- content -->

    <%- include('../include/footer') %>