<%- include('../include/headcss') %>
<style>
  li {
    margin: 6px 0 0 0;
}
</style>

<body>

  <%- include('../include/header') %>

  <div class="content content-fixed content-auth pd-2">
    <div class="container ht-100p">
        <%- include('../include/banner') %>
      
        <h3 class="tx-color-02 text-center tx-primary tx-22">
          Welcome to the Sales Fort Careers Page
         </h3>

        <p class="tx-16 tx-color-02 tx-left mg-t-50">
          If you’re interested in joining Sales Fort as a Sales Agent, please <a href="/agent/register">click here to Register.</a>
        </p>
      

        <p class="tx-16 tx-color-02 tx-left">
          If you’re looking to join our Core Team at Head Office, please send your CV to <a href="mailto: cvs@salesfort.com">cvs@salesfort.com</a>
        </p>

        <p class="tx-16 tx-color-02 tx-left mg-t-35">
          Below are the current positions we are looking to fill:
          <ul class="tx-left tx-16 tx-semibold">
            <li>Chief Marketing Officer</li>

            <li>Senior JS Node Developer</li>

            <li>Senior Graphics Designer</li>

            <li>Copywriter</li>

            <li>Sales Specialists</li>

            <li>Country Sales Managers</li>

            <li>Accountant</li>

            <li>Admin Support</li>
          </ul>
        </p>

      


    </div><!-- container -->
</div><!-- content -->

<%- include('../include/footer') %>