<%- include('../include/headcss') %>
<style>
    body{
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    }

    .contact-form {
        width: 100%;
    }

    .contact-form form{
        padding: 10px 15px;
    }
    .contact-form form .row{
        margin-bottom: -15px;
    }

    .contact-form h3 {
        margin-bottom: 15px;
        text-align: center;
        color: #0062cc;
    }



    @media (min-width: 992px) {
        .contact-form{
            width: 70%;
        }

        .contact-form form{
            padding: 10%;
        }
        .contact-form form .row{
            margin-bottom: -7%;
        }

        .contact-form h3 {
            margin-bottom: 5%;
            margin-top: -10%;
        }

    }

    
</style>

<body>

    <%- include('../include/header') %>

    <div class="content content-fixed content-auth-alt">
        <div class="container ht-100p contact-form bg-white mg-t-0 mg-b-10">
            <!--<div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
            </div>-->
            <form method="post">
                <h3 class="tx-semibold">Contact Us</h3>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12 mg-b-10 tx-center">
                        <button type="submit" class="btn btn-primary" id="btnContactUs">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- content -->

    <%- include('../include/footer') %>