<%- include('../include/headcss') %>
<body>

  <%- include('../include/header') %>

  <!-- content-fixed  when content is large-->
  <div class="content content-fixed content-auth pd-2" >
    <div class="container ht-100p">
            <%- include('../include/banner') %>

            

        </div><!-- container -->
    </div><!-- content -->

<%- include('../include/footer') %>