<%- include('../include/headcss') %>
<body>

  <%- include('../include/header') %>

  <div class="content content-fixed content-auth pd-2">
    <div class="container ht-100p">
            <%- include('../include/banner') %>

            <div class="row row-xs p-y-3 justify-content-between">
                <div class="col tx-center">
                    <a href="#" class="btn btn-primary btn-large d-flex d-sm-inline mg-b-10 mg-sm-b-0">Download our Branding Guidelines</a>
                    <a href="mailto: info@salesfort.com" class="btn btn-primary btn-large d-flex d-sm-inline" >Get in touch with the Management</a>
                </div>
            </div>
        
    </div><!-- container -->
</div><!-- content -->

<%- include('../include/footer') %>